.home-container {
  .jumbotron {
    .row {
      .text {
      }
    }
    .btn {
      .loader {
        width: 13px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--green-primary);
        box-shadow: 0 0 0 0 #17f78355;
        animation: l2 1.5s infinite linear;
        position: relative;
      }
      .loader:before,
      .loader:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        box-shadow: 0 0 0 0 #17f78355;
        animation: inherit;
        animation-delay: -0.5s;
      }
      .loader:after {
        animation-delay: -1s;
      }
      @keyframes l2 {
        100% {
          box-shadow: 0 0 0 14px #0000;
        }
      }
    }
  }
}
